.form {
    margin-left: 36px;
    padding-bottom: 38px ;
}

@media screen and (max-width: 470px) {
    .form {
        margin-left: 28px;
    }

}

@media screen and (max-width: 330px) {
    .form {
        margin-left: 22px;
        padding-bottom: 24px;
    }

}