.popup__container {
    position: relative;
    max-width: 430px;
    width: 100%;
    margin: 0;
    min-height: 330px;
    background-color: white;
    filter: drop-shadow(0 0 0.25px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    min-height: 330px;
}


@media screen and (max-width: 540px) {
    .popup__container {
        max-width: calc(100vw - 110px)
    }

}

@media screen and (max-width: 330px) {
    .popup__container {
        max-width: 282px;
        min-height: 322px;
    }

}