.profile {
    margin: 0 auto;
    margin-top: 39px;
    margin-bottom: 52px;
    width: 100%; 
    max-width: 880px;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 900px) {
    .profile {
        max-width: calc(100vw - 100px);
        flex-direction: column;
        align-items: center;
        margin-top: 41px;

    }

}

@media screen and (max-width: 330px) {
    .profile {
        max-width: 282px;
        margin-bottom: 36px;
    }

}