.profile__add-button {
    height: 50px;
    width: 100%;
    max-width: 150px;
    background-color: transparent;
    border: 2px solid white;
    background-image: url(../../../images/add.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 36px;
    cursor: pointer;
    border-radius: 2px;
    margin-left: auto;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    .profile__add-button {
        max-width: 100%;
        margin-top: 33px;
        background-size: 16px;
    }

}