
.cards {
    margin: 0 auto;
    width: 100%; 
    max-width: 880px;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;
    row-gap: 20px;
    min-height: 50vh;
}


@media screen and (max-width: 900px) {
    .cards {
        max-width: calc(100vw - 100px);
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 680px) {
    .cards {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 560px) {
    .cards {
        max-width: calc(100vw - 38px);
    }

}
