@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

@import url(../blocks/body/body.css);

@import url(../blocks/root/root.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);



@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__header/profile__header.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__avatar-edit/profile__avatar-edit.css);



@import url(../blocks/cards/cards.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__info/card__info.css);
@import url(../blocks/card/__like-block/card__like-block.css);
@import url(../blocks/card/__like-icon/card__like-icon.css);
@import url(../blocks/card/__like-icon/_active/card__like-icon_active.css);
@import url(../blocks/card/__like-count/card__like-count.css);
@import url(../blocks/card/__delete-button/card__delete-button.css);


@import url(../blocks/card/__name/card__name.css);


@import url(../blocks/footer/foooter.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__heading/_type/popup__heading_type_remove.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_type/popup__container_type_avatar.css);
@import url(../blocks/popup/__container/_type/popup__container_type_remove.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__container/_type/popup__container_type_image.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/_type/popup_type_image.css);
@import url(../blocks/popup/__confirm-button/popup__confirm-button.css);




@import url(../blocks/form/form.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__submit-button/form__submit-button.css);
@import url(../blocks/form/__submit-button/_disabled/form__submit-button_disabled.css);
@import url(../blocks/form/__input-error/form__input-error.css);
@import url(../blocks/form/__input/_invalid/form__input_invalid.css);


