
.popup__close {
    background-color: transparent;
    background-image: url(/images/close-icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-position: right;
    top: -40px;
    right: -40px;
    max-width: 32px;
    width: 100%;
    min-height: 32px;
    background-size: contain;
    padding: 0;
    border: none;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 330px) {
    .popup__close {
        right: 0;
        top: -42px;
        background-size: 20px;
    }
}