.form__input {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    max-width: 358px;
    width: 100%;
    margin-bottom: 28px;
    color: black;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    padding-bottom: 10px;

}

@media screen and (max-width: 540px) {
    .form__input {
        max-width: calc(100vw - 180px)
    }

}


@media screen and (max-width: 330px) {
    .form__input {
        max-width: 238px;
    }

}