.header {
    margin: 0 auto;
    width: 100%;
    max-width: 880px;
    margin-top: 45px;
    min-height: 74px;
    border-bottom: 1px solid rgb(84, 84, 84, .7);
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .header {
        max-width: calc(100vw - 100px);
    }

}


@media screen and (max-width: 330px) {
    .header {
       margin-top: 28px;
       max-width: 330px;
       min-height: 56px;
    }

}